@import url("reset.css");
@import url("default.css");

body.generator {
	text-align: center;
}

.content {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

h2 {
	font-size: 30pt;
	text-align: center;
	padding: 1em;
}

ul {
	/*padding-top: 1em;
	margin-left: 2em;*/
	list-style: disc;
}

.thing, .spacer {
	font-weight: bold;
	font-size: 30pt;
	font-family: Arial, sans-serif;
	color: black;
	padding: 1em;
	line-height: 1.5em;
}

#langtable {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80%;
}

