@import url("reset.css");
@import url("default.css");

body.generator {
	text-align: center;
}

.content {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

h2 {
	font-size: 30pt;
	text-align: center;
	padding: 1em;
}

ul {
	/*padding-top: 1em;
	margin-left: 2em;*/
	list-style: disc;
}

.thing, .spacer {
	font-weight: bold;
	font-size: 30pt;
	font-family: Arial, sans-serif;
	color: black;
	/*padding: 1em;*/
	line-height: 1.5em;
}

.subthing {
	font-weight: normal;
	font-size: 30pt;
	font-family: Arial, sans-serif;
	color: black;
	/*padding: 1em;*/
	line-height: 1.5em;
}

td.thing {
	text-align: right;
	width: 5em;
	padding: 0;
}

#langtable {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80%;
}

textarea {
	font-size: 12pt;
}

nav > ul {
    margin-left: 0;
    text-align: center;
    color: #BF4040;
	list-style: none;
}

nav > ul li {
    display: inline;
}

nav > ul li p {
    display: inline;
}

nav > ul li:first-child:before {
    content: "[";
}

nav > ul li:before {
    content: "|";
}

nav > ul li:last-child:after {
    content: "]";
}

nav a:link    { text-decoration: none; }
nav a:visited { text-decoration: none; }
nav a:hover   { text-decoration: underline; }
nav a:active  { text-decoration: underline; }

footer {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

